{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Report absence" %}{% endblock %}
{% block content %}
<h1 class="h4 mb-3"><i class="bi bi-calendar-plus text-primary me-1"></i>{% translate "Report a time frame you can't work" %}</h1>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body p-4">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary mt-2"><i class="bi bi-search"></i> {% translate "Find substitutes" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
